---
title: Driverworks Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - lua

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - copyright/index
  - whats_new/index
  - amplifier_proxy_commands/index
  - audio_switch_proxy_commands/index
  - audio_video_switch_capabilities/index
  - audio_video_switch_protocol_notifications/index
  - audio_video_switch_proxy_commands/index
  - blind_capabilities/index
  - blind_events/index
  - blind_protocol_notifications/index
  - blind_proxy_commands/index
  - blind_variables/index
  - camera_capabilities/index
  - camera_properties/index
  - camera_protocol_notification/index
  - camera_proxy_commands/index
  - cd_player_capabilities/index
  - cd_player_protocol_notifications/index
  - cd_player_proxy_commands/index
  - disc_changer_capabilities/index
  - disc_changer_protocol_notifications/index
  - disc_changer_proxy_commands/index
  - dvd_player_protocol_notifications/index
  - dvd_player_proxy_commands/index
  - fan_capabilities/index
  - fan_conditionals/index
  - fan_events/index
  - fan_protocol_notifications/index
  - fan_proxy_commands/index
  - fan_variables/index
  - intercom_call_commands/index
  - intercom_call_notifications/index
  - intercom_call_requests/index
  - intercom_proxy_best_practices/index
  - intercom_proxy_settings/index
  - intercom_state_commands/index
  - projector_protocol_notifications/index
  - projector_proxy_commands/index
  - receiver_capabilities/index
  - receiver_protocol_notifications/index
  - receiver_proxy_commands/index
  - satellite_receiver_capabilities/index
  - satellite_receiver_protocol_notifications/index
  - satellite_receiver_proxy_commands/index
  - tuner_capabilities/index
  - tuner_protocol_notifications/index
  - tuner_proxy_commands/index
  - tv_capabilities/index
  - tv_protocol_notifications/index
  - tv_proxy_commands/index
  - xm_tuner_protocol_notifications/index

search: true
---

# Introduction

Welcome to the Driverworks API Reference Guide. This guide defines all of the APIs available through the DriverWorks SDK.  You can use Driverworks to write Control4 drivers that connect a Control4 system with third party devices or to extend the functionality of a Control4 system.
All Driverworks drivers are a combination of source code written in Lua and a configuration file written in XML.
